body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 0;
}

h1 {
    color: #fdc210;
    font-size: 1.5em;
}

h2 {
    color: #333;
    font-size: 1em;
    padding-bottom: 2px;
}

h4 {
    color: #333;
    font-size: 1em;
    border-bottom: 1px solid #fdc210;
    padding-bottom: 2px;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    font
}
.nav-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #2f8aeb;
    padding: 4px 4px; /* Maior padding para um visual de botão */
    border-radius: 0px; /* Arredondar os botões */
    margin: 0 4px;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
    display: inline-block; /* Garante que os botões tenham o formato correto */
}

.nav-buttons a:hover {
    background-color: #000000;
}

.gallery img {
    width: 10%; /* Reduz o tamanho das imagens para 30% da largura do contêiner pai */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.diary-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.diary-entry img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.controls {
    display: right;
    gap: 1px;
}

.diary {
    flex-basis: 100%; /* 70% da largura para o grid do diário */
}

.diary-entry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 3px solid #fdc210;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0px;
}

.diary-entry-content {
    flex: 1;
}

#diary-entries {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre os itens */
}

.diary-entry h3 {
    margin: 0;
    color: #333;
    font-size: 1em; /* Ajuste o tamanho da fonte para caber melhor no grid */
}

.diary-entry p {
    margin-top: 10px;
}

.diary-entry a {
    color: #fdc210;
    text-decoration: none;
    font-weight: bold;
}

.diary-entry-content a:hover {
    background-color: #333333;
    transition: background-color 0.3s;
}

button {
    background-color: #2f8aeb;
    color: #fff;
    border: none;
    padding: 4px 4px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #000000;
}

#searchKeyword {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    width: 200px;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; /* Fundo transparente */
    border: none;
    cursor: pointer;
    display: none; /* Oculto por padrão */
    padding: 0; /* Remove o padding para a imagem se ajustar melhor */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites do botão */
    text-align: center; /* Centraliza a imagem dentro do botão */
}

#backToTopBtn img {
    width: 100%; /* Ajusta a largura da imagem para preencher o botão */
    height: auto; /* Mantém a proporção da imagem */
    transform: rotate(-90deg); /* Rotaciona a imagem em 90 graus */
    transform-origin: center; /* Mantém a rotação centrada */
}

#backToTopBtn:hover {
    /* Se desejar adicionar algum efeito ao passar o mouse */
    opacity: 0.3; /* Reduz um pouco a opacidade quando o mouse está sobre o botão */
}
